body {
background-color: black;
border: 5px inset;
border-color: rgb(119, 119, 119);
margin: 35px auto;
color: white;
max-width: 1000px;
text-decoration: none;
padding: 25px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
}